.animate-input-error {
    border: 1px solid red; /* Red border */
    animation: shake 0.3s ease; /* Apply shaking animation */
  }
  
  /* Keyframes for the shaking animation */
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-1%); }
    50% { transform: translateX(1%); }
    75% { transform: translateX(-1%); }
    100% { transform: translateX(0); }
  }