@tailwind base;
@tailwind components;
@tailwind utilities;
  

*::-webkit-scrollbar {
    display: block;
    background: transparent;
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(117, 118, 120, 0.25);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #F1F1F1;
}

body::-webkit-scrollbar {
    width: 10px;
}

.itinerary{
  display: none;
}


@media only screen and (min-width: 2500px){
    html{
        font-size: 21.5px;
    }
}

@media only screen and (min-width: 3500px){
    html{
        font-size: 32px;
    }
}

@media only screen and (max-width: 1650px){
    html{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1550px){
    html{
        font-size: 14px;
    }
}

@media only screen and (max-width: 1450px){
    html{
        font-size: 13px;
    }
}

@media only screen and (max-width: 1300px){
    html{
        font-size: 12px;
    }
}