.loader {
  animation: rotate 1s infinite;
  height: 3.75rem; /* 3.125rem * 1.2 */
  width: 3.75rem; /* 3.125rem * 1.2 */
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 1.5rem; /* 1.25rem * 1.2 */
  width: 1.5rem; /* 1.25rem * 1.2 */
}

.loader:before {
  animation: ball1 1s infinite;
  background-color: #ED1C24;
  box-shadow: 2.25rem 0 0 #363739; /* 1.875rem * 1.2 */
  margin-bottom: 0.75rem; /* 0.625rem * 1.2 */
}

.loader:after {
  animation: ball2 1s infinite;
  background-color: #363739;
  box-shadow: 2.25rem 0 0 #ED1C24; /* 1.875rem * 1.2 */
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 2.25rem 0 0 #363739; /* 1.875rem * 1.2 */
  }
  50% {
    box-shadow: 0 0 0 #363739;
    margin-bottom: 0;
    -webkit-transform: translate(1.125rem, 1.125rem); /* 0.9375rem * 1.2 */
    -moz-transform: translate(1.125rem, 1.125rem); /* 0.9375rem * 1.2 */
  }
  100% {
    box-shadow: 2.25rem 0 0 #363739; /* 1.875rem * 1.2 */
    margin-bottom: 0.75rem; /* 0.625rem * 1.2 */
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 2.25rem 0 0 #ED1C24; /* 1.875rem * 1.2 */
  }
  50% {
    box-shadow: 0 0 0 #ED1C24;
    margin-top: -1.5rem; /* -1.25rem * 1.2 */
    -webkit-transform: translate(1.125rem, 1.125rem); /* 0.9375rem * 1.2 */
    -moz-transform: translate(1.125rem, 1.125rem); /* 0.9375rem * 1.2 */
  }
  100% {
    box-shadow: 2.25rem 0 0 #ED1C24; /* 1.875rem * 1.2 */
    margin-top: 0;
  }
}
